<document>
	<properties>
		<title>Mork Parser Events</title>
		<author email="mike.haller@smartwerkz.com">Mike Haller</author>
	</properties>
	<body>
		<section name="Mork Parser Events">
			<p>
				The event-based Mork parser fires events as soon as a
				Mork entity has been fully parsed. The following
				describes each fired event in detail.
			</p>
		</section>
		<subsection name="Dictionary">
			<p>
				The BEGIN_DICT event is fired on the beginning of a
				dictionary. It does not contain any content and is thus
				useless.
			</p>
			<p>
				A dictionary can contain meta-information at the
				beginning. This meta-dictionary has its own two events:
				BEGIN_META_DICT and END_META_DICT. The END_META_DICT
				event contains the full content of the meta-dictionary.
			</p>
			<p>
				The END_DICT event contains the full content of the
				dictionary, excluding the meta-dictionary and any
				comments or newlines. The String value of the event can
				be parsed using the Dict class constructor.
			</p>
		</subsection>
	</body>
</document>
